<% if notice %>
  <h2>Your application has been registered.</h2>
  <strong>Your API-token: </strong><pre><%= notice %></pre>
  <p>Be sure to save your API-token, this page is only temporary visible.</p>
<% else %>
<% end %>
